table.datatable > tbody > tr > td:first-child {
    vertical-align: top;
    padding-top: 1.4em;
}

table.datatable td.nowrap {
    white-space: nowrap;
}

.datatable--loading {
    margin: 1em auto;
}

.datatable--mobile {
    margin: 2em;
}

.datatable--mobile h6 {
    margin-bottom: .3em;
}

.datatable--mobile .dot {
    margin-top: .4em;
    margin-bottom: .8em;
}