table.legend {
    font-size: .8em;
    margin: 0 auto 1em auto;
}

table.legend thead td {
    font-weight: bold;
    text-indent: 25px;
    padding-bottom: 1em;
}

table.legend tbody tr {
    padding: 0.5em 0;
}

table.legend tbody td {
    vertical-align: middle;
}

table.legend tbody td:nth-child(odd) {
    width: 25px;
}

table.legend tbody td:nth-child(even) {
    padding-right: 20px;
}

table.legend tbody td .dot {
    width: 20px;
    height: 20px;

    cursor: default;

    float: left;

    margin: 0;
}

@media(max-width: 960px) {
    table.legend {
        width: 100%;
    }
}